{% extends "base.html" %}

{% load static %}

{% block content %}
<br>

<div class="container bg-white shadow-md p-3 form-layout">

    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">The confirmation email has been sent!</h4>
        <p>
            A confirmation email has been sent to your email address.
            Please check your email and click on the confirmation link to complete your registration.
            If the email has not arrived, please check your spam folder.
        </p>
    </div>
</div>

<br>

{% endblock %}
